CONFIG_WLAN_GREAT=y
# CONFIG_TOUCHSCREEN_SEC_TS is not set
CONFIG_TOUCHSCREEN_SEC_TS_Y661=y
CONFIG_INPUT_WACOM=y
CONFIG_EPEN_WACOM_W9018=y
CONFIG_CAMERA_CIS_3M3_OBJ=y
# CONFIG_CAMERA_DREAM is not set
CONFIG_CAMERA_GREAT=y
# CONFIG_OIS_USE_RUMBA_S4 is not set
CONFIG_OIS_USE_RUMBA_S6=y
CONFIG_PANEL_POC_2_0=y
# CONFIG_POC_DREAM is not set
# CONFIG_SENSORS_SSP_DREAM is not set
CONFIG_SENSORS_SSP_GREAT=y
# CONFIG_UFS_UN_18DIGITS is not set
CONFIG_UFS_UN_20DIGITS=y
